<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
   <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <body>
<div id="particle-js" class="particles">
    <div id="app">
   <section class="todo-wrapper">
     <h1 class="todo-title">{{ today.day }}<br>{{ today.date }}</h1>
     <form @keydown.enter.prevent="">
       <input type="text" class="input-todo" v-bind:class="{ active: new_todo }" placeholder="Enter your tasks" v-model="new_todo" v-on:keyup.enter="addItem">
       <div class="btn btn-add" v-bind:class="{ active: new_todo }"  @click="addItem">+</div>
     </form>

     <div v-if="pending.length > 0">
       <p class="status busy">You have {{ pending.length }} actual tasks<span v-if="pending.length>1">s</span></p>
       <transition-group name="todo-item" tag="ul" class="todo-list">
         <li v-for="(item, index) in pending" v-bind:key="item.title">
           <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
           <label v-bind:for="'item_' + item.id"></label>
           <span class="todo-text">{{ item.title }}</span>
           <span class="delete" @click="deleteItem(item)"><z/span>
         </li>
       </transition>
     </div>

     <transition name="slide-fade">
       <p class="status free" v-if="!pending.length" ><img src="https://app3.reevio.com/img/editor/new-svg/rendering.svg" alt="celebration">Grab some coffee if you don't have any tasks</p>
     </transition>

     <div v-if="completed.length > 0 && showComplete">
       <p class="status">Completed tasks: {{ completedPercentage }}</p>
       <transition-group name="todo-item" tag="ul" class="todo-list archived">
         <li v-for="(item, index) in completed" v-bind:key="item.title">
           <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
           <label v-bind:for="'item_' + item.id"></label>
           <span class="todo-text">{{ item.title }}</span>
           <span class="delete" @click="deleteItem(item)"></span>
         </li>
       </transition>
     </div>
     <div class="control-buttons">
       <div class="btn btn-secondary" v-if="completed.length > 0" @click="toggleShowComplete"><span v-if="!showComplete">Show</span><span v-else>Hide</span> Complete</div>
       <div class="btn btn-secondary" v-if="todoList.length > 0" @click="clearAll">Clear All</div>
     </div>
   </section>
 </div>
</div>

    <script src="/js/alert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/main.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="/js/JsForParticles.js"></script>
  </body>
</html>
